@font-face{
    font-family: baloo;
    src:url("Fonts/baloo.ttf");
}
@font-face{
    font-family: rubik;
    src:url("Fonts/rubik-light.ttf");
}
#chercher{
	background-color: #26966d;
	outline: none;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
    font-family: baloo;
    font-size: 13pt;
}



@media screen and (max-width:764px) {
    div#block1 { order: 1;  }
    div#block2 { order: 5;  }
    div#block3 { order: 7;  }
    div#block4 { order: 9;  }
    div#block5 { order: 3;  }
    div#block6 { order: 6;  }
    div#block7 { order: 8;  }
    div#block8 { order: 10;  }
    div#block9 { order: 2;  }
    div#block10 { order: 4;  }
    div#block11 { order: 11;  }
}